@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body, html {
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 3%;
}

header .logo {
    font-size: 28px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    margin: 0 8px;
}

.lupa {
    cursor: pointer;
    background-image: url(../img/search.svg);
    width: 27px;
    height: 27px;
    margin: 0 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-hamburguer {
    display: none;
}

.inicio {
    padding: 3px 0 0 3%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.inicio-titulo {
    width: 50%;
}

.inicio-titulo, .inicio-imagem {
    position: relative;
    bottom: 60px;
}

.inicio-titulo h1 {
    font-size: 40px;
    font-weight: bold;
}

.inicio-titulo h2 {
    font-size: 20px;
    font-weight: normal;
}

.inicio-texto {
    width: 70%;
}

.inicio .inicio-imagem {
    border-top: 55px solid black;
    border-bottom: 55px solid black;
    border-left: 70px solid black;
    padding: 300px 0;
    width: 50%;
}

.inicio-button-scroll-dawn {
    position: relative;
    background-color: blue;
}

.principais-fontes {
    padding: 70px 3%;
    text-align: center;
}

.principais-fontes-titulo {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}

.principais-fontes-cards > a > div {
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.5);
}

.cards-titulo {
    color: #000;
    position: relative;
    top: 500px;
    font-weight: bold;
    font-size: 25px;
}

.cards-img {
    height: 50px;
    width: 50px;
    background-color: blue;
}

#cards-solar {
    background-image: url(img/solar.jpg);
    background-repeat: no-repeat;
}

.principais-fontes .pf-card {
    width: 350px;
    height: 600px;
    background-color: #EEEEEE;
    display: inline-block;
    margin: 15px;
}

.graficos {
    padding: 80px 3% 130px 3%;
    text-align: center;
}

.graficoPizza {
    display: inline-block;
    margin: 0 130px;
}

.secoes {
    padding: 40px 3%;
}

.secoes > div {
    margin: 40px 0;
}

.secao-titulo {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.secao-conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20vh;
}

.secao-texto {
    width: 35%;
    min-width: 400px;
}

.secao-texto h3 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: normal;
}

.secao-imagem {
    width: 30%;
    min-width: 450px;
    height: 100%;
    background-color: #EEEEEE;
}

.secao2 .secao-imagem {
    order: 2;
}

.calculadora {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 3%;
}

.calculadora-resultado {
    width: 400px;
    height: 250px;
    background-color: white;
    margin: 0 30px;
}

.calculadora-inputs {
    height: 250px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora-inputs input {
    margin: 10px 0;
    padding: 13px;
    padding-right: 50px;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.calculadora-inputs input[type="button"] {
    cursor: pointer;
    border-radius: 30px;
    padding: 13px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 3%;
    background-color: black;
    color: white;
}

footer > a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.logo-rodape {
    font-size: 28px;
    font-weight: bold;
}

.navegacao-rodape {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.redes-sociais-titulo {
    font-weight: bold;
    font-size: 20px;
}

.redes-sociais a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

.nav-rodape {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    border-left: 1px solid white;
    padding-left: 30px;
    margin-left: 0;
}

.nav-rodape-titulo {
    font-weight: bold;
    font-size: 20px;
}

.redes-sociais-titulo, .nav-rodape-titulo {
    margin-bottom: 10px;
}

.nav-rodape a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

/*.lupawhite {
    background-image: url(../img/search-white.svg);
    margin-top: 10px;
}*/

/* Ajustar o conteúdo para Smartphones */
@media screen and (max-width: 500px) {
    header nav {
        display: none;
    }

    .inicio-imagem {
        display: none;
    }
}

@media screen and (max-width: 968px) {
    .secao-conteudo{
        justify-content: center;
    }

    .secao-imagem{
        margin: 15px 0;
    }

    .inicio-imagem {
        display: none;
    }
}