@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body, html {
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 3%;
    z-index: 20;
}

header .logo {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    margin: 0 15px;
    letter-spacing: 1px;
}

.lupa {
    cursor: pointer;
    width: 27px;
    height: 27px;
    margin: 0 8px;
    background-image: url(../img/pesquisar-unscreen.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.inicio {
    padding: 3px 0 0 3%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* IMAGEM DE FUNDO PARA A TELA DE INÍCIO, QUANDO ABILITADA AFETA A NAV BAR, TORNANDO A NAVEGAÇÃO IMPOSSÍVEL
/*.inicio::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(../img/inicio-energias.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.1;
}*/

.inicio-titulo {
    width: 50%;
}

.inicio-titulo, .inicio-imagem {
    position: relative;
    bottom: 60px;
}

.inicio-titulo h1 {
    font-size: 40px;
    font-weight: bold;
}

.inicio-titulo h2 {
    font-size: 20px;
    font-weight: normal;
}

.inicio-texto {
    width: 70%;
}

.inicio-button {
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/inicio-button-unscreen.gif);
    margin-top: 20px;
}

.inicio .inicio-imagem {
    border-top: 55px solid black;
    border-bottom: 55px solid black;
    border-left: 70px solid black;
    width: 50%;
}

.introducao {
    height: 100vh;
}

.introducao-titulo {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 15vh 0 100px 0;
}

.introducao > p {
    width: 60vw;
    margin: 0 auto 5px auto;
}

.introducao-button {
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/button-duplo-baixo.png);
    margin: 10px auto 0 auto;
}

.introducao-button-titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 35vh;
}

.principais-fontes {
    padding: 12vh 3%;
    text-align: center;
    height: 100vh;
    background-color: #F5F7FC;
}

.principais-fontes-titulo {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}

.principais-fontes-cards > a > div {
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.5);
}

.cards-titulo {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFF;
    position: relative;
    top: 520px;
    font-weight: bold;
    font-size: 25px;
}

#cards-solar, #cards-eolica, #cards-hidreletrica, #cards-biomassa, #secao-img-solar, #secao-img-eolica, #secao-img-hidreletrica, #secao-img-biomassa {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#cards-solar, #secao-img-solar{
    background-image: linear-gradient(to bottom, transparent 0%, #000 300%), url(../img/solar.png);
}

#cards-eolica, #secao-img-eolica {
    background-image: linear-gradient(to bottom, transparent 0%, #000 300%), url(../img/eolica.png);
}

#cards-hidreletrica, #secao-img-hidreletrica {
    background-image: linear-gradient(to bottom, transparent 0%, #000 500%), url(../img/hidreletrica.png);
}

#cards-biomassa, #secao-img-biomassa {
    background-image: linear-gradient(to bottom, transparent 0%, #000 300%), url(../img/biomassa.png);
}

.principais-fontes .pf-card {
    width: 350px;
    height: 600px;
    background-color: #EEEEEE;
    display: inline-block;
    margin: 15px;
}

#secao-solar, #secao-eolica, #secao-hidreletrica, #secao-biomassa {
    height: 100vh;
    width: 100%;
    padding-top: 8vh;
}

#secao-solar {
    background-color: #F7F6DA;
}

#secao-eolica {
    background-color: #dde6e9;
}

#secao-hidreletrica {
    background-color: #dff5f1;
}

#secao-biomassa {
    background-color: #e1f4de;
}

.secao-titulo {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.secao-conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20vh;
}

.secao-texto {
    width: 35%;
}

.secao-texto h3 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: normal;
}

.secao-imagem {
    width: 350px;
    height: 600px;
    background-color: #000;
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.5);
}

.secao2 .secao-imagem, .secao4 .secao-imagem {
    order: 2;
}

.grafico {
    height: 110vh;
}

.grafico-titulo {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

.grafico-conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.grafico-texto {
    width: 35%;
}

.grafico-imagem {
    width: 850px;
    height: 850px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 3%;
    background-color: black;
    color: white;
}

footer > a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.logo-rodape {
    font-size: 28px;
    font-weight: bold;
}

.navegacao-rodape {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.redes-sociais-titulo {
    font-weight: bold;
    font-size: 20px;
}

.redes-sociais a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

.nav-rodape {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    border-left: 1px solid white;
    padding-left: 30px;
    margin-left: 0;
}

.nav-rodape-titulo {
    font-weight: bold;
    font-size: 20px;
}

.redes-sociais-titulo, .nav-rodape-titulo {
    margin-bottom: 10px;
}

.nav-rodape a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

/* Ajustar o conteúdo para Smartphones */
@media screen and (max-width: 500px) {
    header nav {
        display: none;
    }

    .inicio-imagem {
        display: none;
    }

    .introducao-titulo {
        padding: 5vh 0 50px 0;
        font-size: 30px;
    }

    .introducao > p {
        width: 80vw;
        margin: 0 auto 5px auto;
    }

    .introducao-button {
        height: 40px;
        width: 40px;
        position: relative;
        bottom: 20vh;
    }
    
    .introducao-button-titulo {
        font-size:15px;
        position: relative;
        bottom: 20vh;
    }

    .principais-fontes-titulo {
        font-size: 30px;
        padding: 0;
        position: relative;
        bottom: 8vh;
    }

    .principais-fontes-cards {
        position: relative;
        bottom: 8vh;
    }

    .secoes {
        margin-top: 2000px;
    }

    .secao-imagem {
        display: none;
    }

    .secao-titulo {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .secao-texto {
        width: 80%;
        margin: 0 auto 5px auto;
    }

    .secao-conteudo {
        margin-bottom: 5vh;
    }

    #secao-solar, #secao-eolica, #secao-hidreletrica, #secao-biomassa {
        height: auto;
        width: 100%;
        background-color: #FFF;
    }

    .grafico-titulo {
        font-size: 30px;
        border-top: 10px;
    }

    .grafico-texto {
        width: 80%;
        margin: 0 auto 10vh auto;
    }

    .grafico-conteudo {
        margin-top: 30px;
    }

    .grafico-imagem {
        display: none;
    }

    footer {
        display: block;
        margin-top: 20vh;
    }

    .navegacao-rodape {
        display: block;
        margin-left: 10vw;
    }

    .nav-rodape {
        border: none;
        padding-left: 0;
    }

    .logo-rodape {
        margin-left: 10vw;
        margin-bottom: 30px;
    }

    .redes-sociais, .nav-rodape {
        margin-left: 0;
    }

    .redes-sociais-titulo, .nav-rodape-titulo {
        margin-top: 15px;
    }
}

@media screen and (max-width: 968px) {
    .secao-conteudo{
        justify-content: center;
    }

    .secao-imagem{
        margin: 15px 0;
    }

    .inicio-imagem {
        display: none;
    }
}